
<div id ="titulo" >
    <h1>{{titulo}}</h1>
    <h2>{{subtitulo}}</h2>
    <p><a href="http://localhost:4200/contacto">{{mail}}</a> </p>
</div>

<article class="sobre-mi">
    <h2 class="titulo">Sobre mí</h2>
    <p> Mi objetivo es profundizar en el mundo de la computación desde el hardware hasta el software. <br>
        Para lograrlo, estudié y me recibí de analista en sistemas, complementándolo con capacitaciones virtuales. </p>
    <p> Desde la programación, me instruí en diversos lenguajes para encarar proyectos personales y profesionales. Entre ellos destaco css, haskel, html, java, javascript, python, sql y vba.</p> 
    <p> Durante mi trabajo en el área de sistemas, aprendí a formatear computadoras, instalar sistemas operativos, conectarlas al servidor y a la red, programar tareas automáticas y configurar los routers. </p>
    <p> Entre otras experiencias personales, me adentré en la robótica, investigué, estudié e implementé proyectos que combinan la mecánica, electrónica y programación en uno solo. </p>
</article>